* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  min-width: 100vh;
}
.mainSect {
  width: 100vw;
  background-image: radial-gradient(purple, violet);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 30px;
  padding: 20px;
  p {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    color: white;
    text-shadow: 0px 0px 7px gold;
    -webkit-text-stroke: 0.1px black;
    font-weight: 600;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      list-style: none;
      text-shadow: 0px 0px 7px gold;
      -webkit-text-stroke: 0.1px black;
      font-weight: 600;
      font-family: sans-serif;
      font-size: 30px;
      text-align: center;
      line-height: 1.5;
      color: aquamarine;
    }
  }
}
@keyframes showPara {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rosePop1 {
  0% {
    transform: rotate(-55deg);
    transform-origin: bottom;
    bottom: -100%;
  }
  100% {
    transform: rotate(-55deg);
    transform-origin: bottom;
    bottom: 7.8%;
  }
}
@keyframes rosePop2 {
  0% {
    transform: scaleX(-1) rotate(-55deg);
    transform-origin: bottom;
    bottom: -100%;
  }
  100% {
    bottom: 7.5%;
    transform-origin: bottom;
    transform: scaleX(-1) rotate(-55deg);
  }
}
