<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <section class="mainSect">
      <p>
        * You have all the qualities a man wants in his woman, <br />
        not just the physical beauty, but the inner beauty :
      </p>
      <div>
        <p>Good Nature</p>
        <p>Caring</p>
        <p>Loyal</p>
        <p>Beautiful</p>
        <p>Strong</p>
        <p>Supportive</p>
        <p>Hard Worker</p>
        <p>Funny</p>
        <p>Dayalu</p>
        <p>Listener</p>
        <p>Loving</p>
        <p>Romantic</p>
        <p>Sabse rishta bana ke chalne wali</p>
        <p>My Comfort zone</p>
        <p>Ambitious</p>
        <p>Vibe Matching</p>

        <p>Pretty</p>
        <p>Cute</p>
        <p>Hot</p>
      </div>
    </section>

    <script src="./script.js"></script>
  </body>
</html>
